.navbar{
    background-color: tomato;
}
.offcanvas{
    background-color: tomato;
}
h3{
    background-color: brown;
    border-radius: 10px;
}
h3:hover{
 
        background-color: chocolate;
        border-radius: 10px;
        color: green;
 
}
.btnUpdate{
    color: white;
    border: none;
    border-radius: 25px;
    background-color: chocolate;
    font-weight: bolder;
}
.btnUpdate:hover{
    background-color: brown;
    color:green;
}
.btnDelete{
    color: white;
    border: none;
    border-radius: 25px;
    background-color: chocolate;
    font-weight: bolder;
}
.btnDelete:hover{
    background-color: brown;
    color:green;
}
.navbar-nav{
    a{
        font-size: 20px;
        margin-right: 25px;
    }
    a:hover{
        color: green;
        text-shadow: 2px 2px 5px white;
    }
}
h3:hover{
    a{

        border-radius: 10px;
        color: green;
    }
}
a{
    color: white;
    text-decoration: none;
}
.sidebar
{
   background-color: tomato;
   height: 90vh;
   overflow-y: auto;
   overflow-x: hidden;
   position: sticky;
}
.content
{
   height: 90vh;
   overflow-y: auto;
   overflow-x: hidden;
   position: sticky;
}
.card{
    background-color: rgb(255,99,71);
    color: white;
}
.card:hover{
    position: relative;
    box-shadow: 0px 0px 10px black;
 bottom: 20px;
}
label{
    font-weight: bolder;
}
.add{
    font-weight: bolder;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(255,99,71);
}
.add:hover{
    background-color: rgb(165,42,42);
    color: white;

}
.req{
    color: red;
}
.emsg{
    color: red;
}
input{
    border-radius: 25px;
    border: 2px solid rgb(255,99,71);    
}
textarea{
    border-radius: 25px;
    border: 2px solid rgb(255,99,71);    
}
@media screen and (max-width:991px) {

    .sidebar{
        display:none
    }   
}